<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorAdmin</title>
</head>
<body style="background-color:slategrey; font-family:'Cambria Math';text-align:center; margin-top:10%;">
    <div style="font-size:800%;"> 
        404
    </div>
    <input type="submit" id="chuyenVeTrangChu"  value="Trang Chủ" style="font-size:200%; background-color:rgba(77, 195, 42, 0.71); border-radius:10%;" />
    
</body>
</html>
